
nav {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

/* .NavBar-title {
  display: inline-block;
  text-align: left;
}

.NavBar-links {
  display: inline;
  text-align: center;
} */
 
